/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
    font-family: 'Roboto';
    src:
        url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: bold;    
}

@font-face {
    font-family: 'Roboto';
    src:
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: medium;    
}

@font-face {
    font-family: 'Roboto';
    src:
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: regular;    
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
    
}

body {
    overflow-x: hidden;
}

.sliding {
    display: flex;
    position: relative;
    overflow: hidden;
}

.sliding p {
    font-family: 'Roboto';
    font-size: 17vw;
    white-space: nowrap;
    position: absolute;
    font-weight: bold;
    /* height: 100%; */
    opacity: 38%;
    line-height: 15vmax;
    color: #739fff;
    overflow: hidden;
    margin-left: 5%;
    align-self: center;
    /* margin: 90px 90px; */
    letter-spacing: 0px;
    text-transform: uppercase;
}


#product-contain{
    display: flex;
    height: 1000px;
    width: 100%;
    margin-top: 20px;
    background-image: repeating-linear-gradient(135deg, transparent, transparent 29px, #778da9 29px, #778da9 58px);
    background-color: #1b263b;
    background-blend-mode: multiply;
    justify-content: center;
}


#product-contain > div {
    margin-top: 90px;
    color: white;
    font-family: 'Roboto';
}

#modifier > form {
    /* margin-left: 100px; */
    text-align: center;
    background-color: transparent;
    filter: drop-shadow(2px 2px 2px black);
    
    border: 2px solid #fff;
}

#modifier > form > input {
    width: 50%;
    height: 30px;
    border: 1px solid #1B263B;
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px #1B263B;
    
}

#modifier > form > input[type='number']{
    height: 20px;
}

#modifier > form > input[type='submit'] {
    width: 311px;
    height: 42px;
    border-radius: 62px;
    margin-bottom: 12px;
    border-radius: 0px;
    transition: all 0.3s ease-in-out;
    font-family: 'Roboto';
    font-weight: bold;
    text-transform: uppercase;
}

#modifier > form > input[type='submit']:hover {
    background-color: #FFF;
    height: 50px;
    border-radius: 50px;
    box-shadow: 2px 2px 8px #FFF;
}

#modifier > form > input[type='submit']:active {
    transform: scale(0.8);
}

#modifier > form > label > p {
    font-size: 20px;

}

#right {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    margin-top: 1000px;
    /* flex-direction: inline; */
    background: linear-gradient(to bottom right, #1B263B, #778DA9);
    border-radius: 15px;
    overflow: hidden;
    
}

#right p {
    position: absolute;
    left: 20%;
    text-transform: uppercase;
    opacity: 80%;
}

.scroll-slide {
    display: block;
    width:  280px;
    height: 280px;
    object-fit: cover;
    margin: 50px 50px;
    
}


#modifier {
    height: 360px;
    width: 360px;
    border-radius: 10px;
    background-image: url("../img/pngtree-t-shirt-3d-rendering-realistic-png-image_10000399.png"), linear-gradient(to right bottom, #1B263B 50%, #778DA9, 10%, #778DA9); 
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

#mask-modifier {
    position: absolute;
    height: 360px;
    width: 360px;
    background-color: rgb(365, 365, 365);
    mask-image: url("../img/pngtree-t-shirt-3d-rendering-realistic-png-image_10000399.png");
    border-radius: 20px;
    filter: brightness(70%);
    mix-blend-mode: hard-light;
}

#modifier form {
    padding-top: 380px;
}

#container {
    height: 31px;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 2;
}

#container p {
    display: flex;
    padding-top: 5px;
    justify-content: center;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}

#brand {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: bold;
    display: flex;
    padding-top: 46px;
    justify-content: center;
    position: relative;
    z-index: 1;
}

#brand:before {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: -6px;
    width: 100%;
    color: #000000;
    padding-top: 46px;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-before 3s infinite linear alternate-reverse;
 }
 
 #brand:after {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    overflow-x: hidden;
    left: 6px;
    width: 100%;
    color: #000000;
    padding-top: 46px;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    clip: rect(0, 900px, 0, 0);
    animation: noise-after 2s infinite linear alternate-reverse;
 }
 

#bar {
    display: flex;
    justify-self: center;
    height: 1px;
    margin-top: 15px;
    width: 70%;
    background-color: rgba(0, 0, 0, 60%);
}

#category {
    position: relative;
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    gap: 20px;
}

#category h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    font-size: 18px;
}

#category img {
    margin-left: 10px;
    border: 1px solid black;
    transition: all 0.3s ease-in-out;
}

#category img:hover {
    border-radius: 50px;
    scale: 3.5;
    background-color: #FFF;
}

#category p {
    color: rgba(0, 0, 0, 60%);
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 900px;
    margin-left: 25px;
    column-gap: 3px;
    row-gap: 100px;
}

#subdiv {
    height: 150px;
    width: 100%;
    background-color: #FFF;
}

#contain-footer {
    margin-top: 80px;
    background-color: #D9D9D9;
    position: sticky;
    bottom: 0px;
    padding: 20px 30px;
    font-family: 'Roboto';
    z-index: -1;
}

#contain-footer h3 {
    font-weight: bold;
}

#contain-footer ul  {
    display: grid;
    padding-top: 30px;
    padding-bottom: 30px;
    list-style-type: none;
    justify-content: center;
}

#contain-footer ul li{
    margin-top: 20px;
    position: relative;
}

#contain-footer ul li img{
    position: absolute;
    bottom: -3px;
    left: -50px;
}


.mask {
    position: absolute;
    height: 172px;
    width: 172px;
    background-color: red;
    mask-image: url("../img/pngtree-t-shirt-3d-rendering-realistic-png-image_10000399.png");
    border-radius: 20px;
    filter: brightness(70%);
    mix-blend-mode: hard-light;
}

.contain {
    height: 172px;
    width: 172px;
    border-radius: 20px;
    display: block;
    align-self: center;
    background-image: url("../img/pngtree-t-shirt-3d-rendering-realistic-png-image_10000399.png"), linear-gradient(to right, #1B263B , #778DA9);
    background-color: #D9D9D9;
    transition: all 0.4s ease-in-out;
}



.contain p {
    margin-top: 188px;
}


.price {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
}

.price > img {
    height: 23px;

}

#rayer {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 60%);
}

#rayer2 {
    text-decoration: line-through;
    color: rgba(365, 365, 365, 60%);
}

#newsletter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: center;
    margin-top: 70px;
    border-radius: 20px;
    height: 277px;
    width: 358px;
    background-color: #000;
}

#newsletter h3 {
    margin: 20px auto;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 37px;
    line-height: 28px;
    color: #FFF;
}

#newsletter input {
    margin-left: 20px;
    align-items: end;
    width: 311px;
    height: 42px;
    border-radius: 62px;
    margin-bottom: 12px;
}

#filter {
    display: none
}

#bg {
    height: 300px ;
    width: 100%;
    max-width: 100%;
    background-image: url("../img/Group\ 3.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}


#filter {
    left: -15px;
    top: 60px;
    /* margin-bottom: 70px; */
    bottom: 30px;
    height: 500px;
    width: 358px;
    background: linear-gradient(to right bottom,#000, rgb(49, 49, 49));
    /* backdrop-filter: blur(20px),
                     hue-rotate(90deg); */
    border-radius: 20px;
    border: 1px solid black;
}

#filter form h3 {
    margin: 20px 50px;
    font-size: 19px;
    font-family: 'Roboto';
    font-weight: bold;
    color: #FFF;
}

#filter form h3 span {
    color: #FFF;
}


/* #filter form h3 a {
    text-decoration: none;
    color: #000;
    color: #FFF;
} */

#right p {
    color: #FFF;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 28%;
}


#bar-filter {
    height: 1px;
    width: 290px;
    background-color: #FFF;
    margin: 0 auto;
    
}

#category {
    display: grid;
    gap: 5px;
    text-decoration: none;
}

#range-price{
    margin: 0px 120px;
}

#filter form input[type="color"]{
    margin: 0px 120px;
    width: 100px;
}

#filter form input[type="button"]{
    margin-left: 20px;
    align-items: end;
    width: 311px;
    height: 42px;
    border: 1px solid #D9D9D9;
    border-radius: 62px;
    margin-top: 52px;
    font-family: 'Roboto';
}

#category2 {
    display: grid;
    gap: 5px;
    margin-left: 80px;
    margin-top: 10px;
}

#category2 a {
    font-family: 'Roboto';
    text-decoration: none;
    color: #FFF;
}


@media all and (min-width: 600px) {

    #right {
        margin-top: 700px;
    }

    #right p {
        color: #FFF;
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 50px;
        margin-top: 20px;
        margin-left: 28%;
    }

    #filter {
        left: -15px;
        top: 60px;

        height: 500px;
        width: 358px;
        background: linear-gradient(to right bottom,#000, rgb(49, 49, 49));
        /* backdrop-filter: blur(20px),
                         hue-rotate(90deg); */
        border-radius: 20px;
        border: 1px solid black;
    }

    #filter form h3 {
        margin: 20px 50px;
        font-size: 19px;
        font-family: 'Roboto';
        font-weight: bold;
        color: #FFF;
    }

    #filter form h3 span {
        position: absolute;
        right: 30px;
        color: #FFF;
    }
    

    /* #filter form h3 a {
        text-decoration: none;
        color: #000;
        color: #FFF;
    } */

    #bar-filter {
        height: 1px;
        width: 290px;
        background-color: #FFF;
        margin: 0 auto;
        
    }

    #category {
        display: grid;
        gap: 5px;
        text-decoration: none;
    }

    #range-price{
        margin: 0px 120px;
    }

    #filter form input[type="color"]{
        margin: 0px 120px;
        width: 100px;
    }

    #filter form input[type="button"]{
        margin-left: 20px;
        align-items: end;
        width: 311px;
        height: 42px;
        border: 1px solid #D9D9D9;
        border-radius: 62px;
        margin-top: 52px;
        font-family: 'Roboto';
    }

    #category a {
        font-family: 'Roboto';
        text-decoration: none;
        color: #FFF;
    }

    #grid-container{
        grid-template-columns: repeat(3, 1fr);
        row-gap: 100px;
    }

    #newsletter {
        margin-top: 100px;
    }

    #bg{
        height: 600px;
        max-width: 100%;
    }

    .contain {
        height: 200px;
        width: 200px;
    }

    .mask {
        height: 200px;
        width: 200px;
    }


    .contain p {
        margin-top: 228px;
        font-family: 'Roboto';
    }
    
}

@media all and (min-width: 800px) {
    #right p {
        position: absolute;
    }
}


@media all and (min-width: 1000px) {
    
    #right {
        margin-top: 150px;
    }


    #right p {
        margin-left: 20px;
        position: absolute;
    }

    #grid-container {
        height: 2100px;
        width: 290px;
        right: 690px;
        column-gap: 30px;
    }

    #filter {
        /* left: 35px;
        top: 100px; */

        height: 500px;
        width: 358px;
        background: linear-gradient(to right bottom,#000, rgb(49, 49, 49));
        /* backdrop-filter: blur(20px),
                         hue-rotate(90deg); */
        border-radius: 20px;
        border: 1px solid black;
    }

    #filter form h3 {
        margin: 20px 50px;
        font-size: 19px;
        font-family: 'Roboto';
        font-weight: bold;
        color: #FFF;
    }

    #filter form h3 span {
        position: absolute;
        right: 30px;
        color: #FFF;
    }
    

    /* #filter form h3 a {
        text-decoration: none;
        color: #000;
        color: #FFF;
    } */

    #bar-filter {
        height: 1px;
        width: 290px;
        background-color: #FFF;
        margin: 0 auto;
        
    }

    #category {
        display: grid;
        gap: 5px;
        text-decoration: none;
    }

    #range-price{
        margin: 0px 120px;
    }

    #filter form input[type="color"]{
        margin: 0px 120px;
        width: 100px;
    }

    #filter form input[type="button"]{
        margin-left: 20px;
        align-items: end;
        width: 311px;
        height: 42px;
        border: 1px solid #D9D9D9;
        border-radius: 62px;
        margin-top: 52px;
        font-family: 'Roboto';
    }

    #category a {
        font-family: 'Roboto';
        text-decoration: none;
        color: #FFF;
    }

    .contain {
        height: 290px;
        width: 290px;
        justify-self: end;
    }

    .mask {
        height: 290px;
        width: 290px;
        /* justify-self: end; */
    }

    .contain p {
        margin-top: 318px;
    }

    #newsletter {
        position: fixed;
        bottom: 1px;
        right: 1px;
    }
    
}


@media all and (min-width: 1359px) {
    #grid-container{
        grid-template-columns: repeat(4, 1fr);
    }

    #filter {
        
        height: 500px;
        width: 358px;
        background: linear-gradient(to right bottom,#000, rgb(49, 49, 49));
        /* backdrop-filter: blur(20px),
                         hue-rotate(90deg); */
        border-radius: 20px;
        border: 1px solid black;
    }

    #filter form h3 {
        margin: 20px 50px;
        font-size: 19px;
        font-family: 'Roboto';
        font-weight: bold;
        color: #FFF;
    }

    #filter form h3 span {
        position: absolute;
        right: 30px;
        color: #FFF;
    }
    

    /* #filter form h3 a {
        text-decoration: none;
        color: #000;
        color: #FFF;
    } */

    #bar-filter {
        height: 1px;
        width: 290px;
        background-color: #FFF;
        margin: 0 auto;
        
    }

    #category {
        display: grid;
        gap: 5px;
        text-decoration: none;
    }

    #range-price{
        margin: 0px 120px;
    }

    #filter form input[type="color"]{
        margin: 0px 120px;
        width: 100px;
    }

    #filter form input[type="button"]{
        margin-left: 20px;
        align-items: end;
        width: 311px;
        height: 42px;
        border: 1px solid #D9D9D9;
        border-radius: 62px;
        margin-top: 52px;
        font-family: 'Roboto';
    }

    #category a {
        font-family: 'Roboto';
        text-decoration: none;
        color: #FFF;
    }

    

    #bg{
        height: 880px;
        max-width: 100%;
    }

}

@media all and (min-width: 1765px){
    #right {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background: linear-gradient(to bottom right, #1B263B, #778DA9);
        border-radius: 15px;
        height: 2000px;
        width: 470px;
        position: absolute;
        right: 30px;
        top: 1220px;
        margin-top: 0px;
    }

    #right p {
        position: relative;
        margin-left: 130px;
    }

    .scroll-slide {
        display: block;
        width:  380px;
        height: 380px;
        object-fit: cover;
        margin: 30px 50px;
        overflow: hidden;
    }
}

@keyframes noise-before {
    0% {
       clip: rect(61px, 9999px, 52px, 0);
    }
 
    5% {
       clip: rect(33px, 9999px, 144px, 0);
    }
 
    10% {
       clip: rect(121px, 9999px, 115px, 0);
    }
 
    15% {
       clip: rect(144px, 9999px, 162px, 0);
    }
 
    20% {
       clip: rect(62px, 9999px, 180px, 0);
    }
 
    25% {
       clip: rect(34px, 9999px, 42px, 0);
    }
 
    30% {
       clip: rect(147px, 9999px, 179px, 0);
    }
 
    35% {
       clip: rect(99px, 9999px, 63px, 0);
    }
 
    40% {
       clip: rect(188px, 9999px, 122px, 0);
    }
 
    45% {
       clip: rect(154px, 9999px, 14px, 0);
    }
 
    50% {
       clip: rect(63px, 9999px, 37px, 0);
    }
 
    55% {
       clip: rect(161px, 9999px, 147px, 0);
    }
 
    60% {
       clip: rect(109px, 9999px, 175px, 0);
    }
 
    65% {
       clip: rect(157px, 9999px, 88px, 0);
    }
 
    70% {
       clip: rect(173px, 9999px, 131px, 0);
    }
 
    75% {
       clip: rect(62px, 9999px, 70px, 0);
    }
 
    80% {
       clip: rect(24px, 9999px, 153px, 0);
    }
 
    85% {
       clip: rect(138px, 9999px, 40px, 0);
    }
 
    90% {
       clip: rect(79px, 9999px, 136px, 0);
    }
 
    95% {
       clip: rect(25px, 9999px, 34px, 0);
    }
 
    100% {
       clip: rect(173px, 9999px, 166px, 0);
    }
 }
 
 @keyframes noise-after {
    0% {
       clip: rect(26px, 9999px, 33px, 0);
    }
 
    5% {
       clip: rect(140px, 9999px, 198px, 0);
    }
 
    10% {
       clip: rect(184px, 9999px, 89px, 0);
    }
 
    15% {
       clip: rect(121px, 9999px, 6px, 0);
    }
 
    20% {
       clip: rect(181px, 9999px, 99px, 0);
    }
 
    25% {
       clip: rect(154px, 9999px, 133px, 0);
    }
 
    30% {
       clip: rect(134px, 9999px, 169px, 0);
    }
 
    35% {
       clip: rect(26px, 9999px, 187px, 0);
    }
 
    40% {
       clip: rect(147px, 9999px, 137px, 0);
    }
 
    45% {
       clip: rect(31px, 9999px, 52px, 0);
    }
 
    50% {
       clip: rect(191px, 9999px, 109px, 0);
    }
 
    55% {
       clip: rect(74px, 9999px, 54px, 0);
    }
 
    60% {
       clip: rect(145px, 9999px, 75px, 0);
    }
 
    65% {
       clip: rect(153px, 9999px, 198px, 0);
    }
 
    70% {
       clip: rect(99px, 9999px, 136px, 0);
    }
 
    75% {
       clip: rect(118px, 9999px, 192px, 0);
    }
 
    80% {
       clip: rect(1px, 9999px, 83px, 0);
    }
 
    85% {
       clip: rect(145px, 9999px, 98px, 0);
    }
 
    90% {
       clip: rect(121px, 9999px, 154px, 0);
    }
 
    95% {
       clip: rect(156px, 9999px, 44px, 0);
    }
 
    100% {
       clip: rect(67px, 9999px, 122px, 0);
    }
 }
 