/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}


.sliding {
    margin-top: 50px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.sliding p {
    font-family: 'Roboto';
    font-size: 17vw;
    white-space: nowrap;
    position: absolute;
    font-weight: bold;
    /* height: 100%; */
    opacity: 38%;
    line-height: 15vmax;
    color: #739fff;
    overflow: hidden;
    margin-left: 5%;
    align-self: center;
    /* margin: 90px 90px; */
    letter-spacing: 0px;
    text-transform: uppercase;
}

header a {
    color: #000;
}


#product-contain{
    display: flex;
    height: 1000px;
    width: 100%;
    margin-top: 20px;
    background-image: linear-gradient(135deg, transparent 0%, transparent 17%,rgba(87, 146, 234,0.6) 17%, rgba(87, 146, 234,0.6) 59%,transparent 59%, transparent 64%,rgba(34, 81, 222,0.6) 64%, rgba(34, 81, 222,0.6) 100%),linear-gradient(45deg, transparent 0%, transparent 2%,rgb(87, 146, 234) 2%, rgb(87, 146, 234) 46%,rgb(114, 178, 239) 46%, rgb(114, 178, 239) 54%,transparent 54%, transparent 63%,rgb(7, 48, 216) 63%, rgb(7, 48, 216) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));background-image: linear-gradient(0deg, rgb(213, 229, 183) 0%, rgb(213, 229, 183) 17%,rgb(189, 213, 190) 17%, rgb(189, 213, 190) 29%,rgb(166, 196, 196) 29%, rgb(166, 196, 196) 38%,rgb(142, 180, 203) 38%, rgb(142, 180, 203) 47%,rgb(118, 164, 210) 47%, rgb(118, 164, 210) 58%,rgb(95, 147, 216) 58%, rgb(95, 147, 216) 88%,rgb(71, 131, 223) 88%, rgb(71, 131, 223) 100%),linear-gradient(157.5deg, rgb(213, 229, 183) 0%, rgb(213, 229, 183) 17%,rgb(189, 213, 190) 17%, rgb(189, 213, 190) 29%,rgb(166, 196, 196) 29%, rgb(166, 196, 196) 38%,rgb(142, 180, 203) 38%, rgb(142, 180, 203) 47%,rgb(118, 164, 210) 47%, rgb(118, 164, 210) 58%,rgb(95, 147, 216) 58%, rgb(95, 147, 216) 88%,rgb(71, 131, 223) 88%, rgb(71, 131, 223) 100%),linear-gradient(112.5deg, rgb(213, 229, 183) 0%, rgb(213, 229, 183) 17%,rgb(189, 213, 190) 17%, rgb(189, 213, 190) 29%,rgb(166, 196, 196) 29%, rgb(166, 196, 196) 38%,rgb(142, 180, 203) 38%, rgb(142, 180, 203) 47%,rgb(118, 164, 210) 47%, rgb(118, 164, 210) 58%,rgb(95, 147, 216) 58%, rgb(95, 147, 216) 88%,rgb(71, 131, 223) 88%, rgb(71, 131, 223) 100%),linear-gradient(90deg, rgb(213, 229, 183) 0%, rgb(213, 229, 183) 17%,rgb(189, 213, 190) 17%, rgb(189, 213, 190) 29%,rgb(166, 196, 196) 29%, rgb(166, 196, 196) 38%,rgb(142, 180, 203) 38%, rgb(142, 180, 203) 47%,rgb(118, 164, 210) 47%, rgb(118, 164, 210) 58%,rgb(95, 147, 216) 58%, rgb(95, 147, 216) 88%,rgb(71, 131, 223) 88%, rgb(71, 131, 223) 100%),linear-gradient(90deg, rgb(173, 92, 95),rgb(110, 20, 174)); background-blend-mode:overlay,overlay,overlay,overlay,normal;
    mask-image: linear-gradient(to bottom, transparent 0%, black 20%, black 50%, black 85%, transparent 100%);
    justify-content: center;
}


#product-contain > div {
    margin-top: 90px;
    color: #000;
    opacity: 90%;
    font-family: 'Roboto';
}

#modifier > form {
    text-align: center;
    background-color: transparent;
    /* filter: drop-shadow(2px 2px 2px black); */
}

#modifier > form > input {
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid transparent;
}

#modifier > form > input[type='number']{
    height: 20px;
}

#modifier > form > input[type='submit'] {
    width: 311px;
    height: 42px;
    border-radius: 62px;
    margin-bottom: 12px;
    border-radius: 0px;
    transition: all 0.3s ease-in-out;
    font-family: 'Roboto';
    font-weight: bold;
    border: 1px solid transparent;
    text-transform: uppercase;
}

#modifier > form > input[type='submit']:hover {
    background-color: #FFF;
    height: 50px;
    border-radius: 50px;
    box-shadow: 2px 2px 8px #000;
}

#modifier > form > input[type='submit']:active {
    transform: scale(0.8);
}

#modifier > form > label > p {
    font-size: 20px;
    
}

#right {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    margin-top: 1000px;
    /* flex-direction: inline; */
    background: linear-gradient(to bottom right, #1B263B, #778DA9);
    border-radius: 15px;
    overflow: hidden;
    
}

#right p {
    position: absolute;
    left: 2%;
    text-transform: uppercase;
    opacity: 80%;
}

.scroll-slide {
    display: block;
    width:  280px;
    height: 280px;
    object-fit: cover;
    margin: 50px 50px;
    
}


#modifier {
    height: 360px;
    width: 360px;
    border-radius: 10px;
    background-image: url("../img/pngtree-t-shirt-3d-rendering-realistic-png-image_10000399.webp")/*, linear-gradient(to right bottom, #1B263B 50%, #778DA9, 10%, #778DA9)*/; 
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

#mask-modifier {
    position: absolute;
    height: 360px;
    width: 360px;
    background-color: rgb(365, 365, 365);
    mask-image: url("../img/pngtree-t-shirt-3d-rendering-realistic-png-image_10000399.webp");
    border-radius: 20px;
    filter: brightness(70%);
    mix-blend-mode: hard-light;
}

#modifier form {
    padding-top: 380px;
}

#container {
    height: 31px;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 2;
}

#container p {
    display: flex;
    padding-top: 5px;
    justify-content: center;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}

#brand {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: bold;
    display: flex;
    padding-top: 46px;
    justify-content: center;
    position: relative;
}

#bar {
    display: flex;
    justify-self: center;
    height: 1px;
    margin-top: 15px;
    width: 70%;
    background-color: rgba(0, 0, 0, 60%);
}

#category {
    position: relative;
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    gap: 20px;
}

#category h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    font-size: 18px;
}

#category img {
    margin-left: 10px;
    border: 1px solid black;
    transition: all 0.3s ease-in-out;
}

#category img:hover {
    border-radius: 50px;
    scale: 3.5;
    background-color: #FFF;
}

#category p {
    color: rgba(0, 0, 0, 60%);
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 900px;
    margin-left: 25px;
    column-gap: 3px;
    row-gap: 100px;
}

#contain-footer {
    margin-top: 80px;
    background-color: #D9D9D9;
    position: sticky;
    bottom: 0px;
    padding: 20px 30px;
    font-family: 'Roboto';
    z-index: -1;
}

#contain-footer h3 {
    font-weight: bold;
}

#contain-footer ul  {
    display: grid;
    padding-top: 30px;
    padding-bottom: 30px;
    list-style-type: none;
    justify-content: center;
}

#contain-footer ul li{
    margin-top: 20px;
    position: relative;
}

#contain-footer ul li img{
    position: absolute;
    bottom: -3px;
    left: -50px;
}


.mask {
    position: absolute;
    height: 172px;
    width: 172px;
    background-color: red;
    mask-image: url("../img/pngtree-t-shirt-3d-rendering-realistic-png-image_10000399.webp");
    border-radius: 20px;
    filter: brightness(70%);
    mix-blend-mode: hard-light;
}

.contain {
    height: 172px;
    width: 172px;
    border-radius: 20px;
    display: block;
    align-self: center;
    background-image: url("../img/pngtree-t-shirt-3d-rendering-realistic-png-image_10000399.webp"), linear-gradient(to right, #1B263B , #778DA9);
    background-color: #D9D9D9;
    transition: all 0.4s ease-in-out;
}



.contain p {
    margin-top: 188px;
    font-family: 'Roboto';
}


.price {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
}

.price img {
    position: absolute;
}

#rayer {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 60%);
}

#rayer2 {
    text-decoration: line-through;
    color: rgba(365, 365, 365, 60%);
}

#newsletter {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: center;
    margin-top: 70px;
    border-radius: 20px;
    height: 277px;
    width: 358px;
    background-color: #000;
}

#newsletter h3 {
    margin: 20px auto;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 37px;
    line-height: 28px;
    color: #FFF;
}

#newsletter input {
    margin-left: 20px;
    align-items: end;
    width: 311px;
    height: 42px;
    border-radius: 62px;
    margin-bottom: 12px;
}

#newsletter button {
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 5px;
}

#filter {
    display: none
}

#bg {
    height: 20vh ;
    width: 100vw;
    max-width: 100%;
    background-image: url("../img/Group3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}


#filter {
    left: -15px;
    top: 60px;
    /* margin-bottom: 70px; */
    bottom: 30px;
    height: 500px;
    width: 358px;
    background: linear-gradient(to right bottom,#000, rgb(49, 49, 49));
    /* backdrop-filter: blur(20px),
                     hue-rotate(90deg); */
    border-radius: 20px;
    border: 1px solid black;
}

#filter form h3 {
    margin: 20px 50px;
    font-size: 19px;
    font-family: 'Roboto';
    font-weight: bold;
    color: #FFF;
}

#filter form h3 span {
    color: #FFF;
}


/* #filter form h3 a {
    text-decoration: none;
    color: #000;
    color: #FFF;
} */

#right p {
    color: #FFF;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 28%;
}


#bar-filter {
    height: 1px;
    width: 290px;
    background-color: #FFF;
    margin: 0 auto;
    
}

#category {
    display: grid;
    gap: 5px;
    text-decoration: none;
}

#range-price{
    margin: 0px 120px;
}

#filter form input[type="color"]{
    margin: 0px 120px;
    width: 100px;
}

#filter form input[type="button"]{
    margin-left: 20px;
    align-items: end;
    width: 311px;
    height: 42px;
    border: 1px solid #D9D9D9;
    border-radius: 62px;
    margin-top: 52px;
    font-family: 'Roboto';
}

#category2 {
    display: grid;
    gap: 5px;
    margin-left: 80px;
    margin-top: 10px;
}

#category2 a {
    font-family: 'Roboto';
    text-decoration: none;
    color: #FFF;
}


@media all and (min-width: 600px) {

    #right {
        margin-top: 700px;
    }

    #right p {
        color: #FFF;
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 50px;
        margin-top: 20px;
        margin-left: 28%;
    }

    #grid-container{
        grid-template-columns: repeat(3, 1fr);
        row-gap: 100px;
    }

    #newsletter {
        margin-top: 100px;
    }

    #bg{
        height: 60vh;
        max-width: 100%;
    }

    .contain {
        height: 200px;
        width: 200px;
    }

    .mask {
        height: 200px;
        width: 200px;
    }


    .contain p {
        margin-top: 228px;
        font-family: 'Roboto';
    }
    
}

@media all and (min-width: 800px) {
    #right p {
        position: absolute;
    }
}


@media all and (min-width: 1000px) {
    
    #right {
        margin-top: 150px;
    }


    #right p {
        margin-left: 20px;
        position: absolute;
    }

    #grid-container {
        height: 2100px;
        width: 290px;
        right: 690px;
        column-gap: 30px;
    }

    .contain {
        height: 290px;
        width: 290px;
        justify-self: end;
    }

    .mask {
        height: 290px;
        width: 290px;
        /* justify-self: end; */
    }

    .contain p {
        margin-top: 318px;
    }

    #newsletter {
        position: fixed;
        bottom: 1px;
        right: 1px;
    }
    
}


@media all and (min-width: 1359px) {
    #grid-container{
        grid-template-columns: repeat(4, 1fr);
    }

    #bg{
        height: 88vh;
        max-width: 100%;
    }

}

@media all and (min-width: 1765px){
    #right {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background: linear-gradient(to bottom right, #1B263B, #778DA9);
        border-radius: 15px;
        height: 2000px;
        width: 470px;
        position: absolute;
        right: 30px;
        top: 1100px;
        margin-top: 0px;
    }

    #right p {
        position: relative;
        margin-left: 130px;
    }

    .scroll-slide {
        display: block;
        width:  380px;
        height: 380px;
        object-fit: cover;
        margin: 30px 50px;
        overflow: hidden;
    }
}



 